/* Цвет текста background: #212121; */
/* Цвет текста под ссылками 
#757575 */
/* акцент #2196F3  */
/* футер белый #FFFFFF */
/* футер номер и ємейл rgba(255, 255, 255, 0.6); */
/* шапка ссылки #757575 */
/* футер бэкграунд #2F303A */
/* background color #E5E5E5; */
:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --acent-color: #2196F3;
    --background-color-body: #E5E5E5;
    --fotter-background-color: #2F303A;
    --footer-adress-color: rgba(255, 255, 255, 0.6);
    --footer-maps-link: #FFFFFF;
}
/* utility */
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red; */
}
/* header */
header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/* body */
body{
    font-family: Roboto, ssans-serif;
    letter-spacing: 0.03em;
    background-color: var(--background-color-body);
    color: var(--primary-text-color);
}
.page{
    color: var(--primary-text-color);
}
.hero{
    text-align: center;
    /* padding-top: 0;
    padding-bottom: 0; */
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--footer-maps-link);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; 
}
.lists-of-page{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* advantages styling */
.advantages-style{
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantages-article{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--primary-text-color);
}
.advantages-text{
    font-size: 14px;
    line-height: 1.7;

    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--secondary-text-color);
}
/* logo */
.logo-header{
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--primary-text-color)
    
}
/* logo stile */
.logo-header-style{
    color: var(--acent-color);
}
.visual-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* navigation */
.site-nav{
    background-color: var(--background-color-body);
}
.nav-links{
    color: var(--primary-text-color);
    
    text-decoration: none;
}
.nav-links:hover,
.nav-links:focus{
    color: var(--acent-color);
}
/* header links contacts */
.contacts-link{
    color: var(--secondary-text-color);
    
    text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus{
color: var(--acent-color);
}

/* buttons */

.button-first-page{
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    min-width: 200px;

    color: var(--background-color-body);
    background-color: var(--acent-color);
}

.button-first-page:hover,
.button-first-page:focus{
    color: var(--acent-color);
    background-color: var(--background-color-body);
}

.nav-buttons{
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;  
    margin-bottom: 50px;

    color: var(--primary-text-color);

}
.nav-buttons:hover,
.nav-buttons:focus{
    color: var(--background-color-body);
    background-color: var(--acent-color);
}
/* projects */
.projects-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.projects-img{
    margin-bottom: 20px;
}

.our-projects-styling{
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-projects{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-top: 0px;

}
.projects-text{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 20px;
}
.projects-title{
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    margin-top: 0;
    margin-bottom: 4px;
}
/* our team */
.our-team-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-top: 0px;
}
.our-team-article{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    margin-top: 0px;
    margin-bottom: 10px;
}
.our-team-text{
    font-size: 16px;
    line-height: 1.18;
    
    color: var(--secondary-text-color);

    margin-top: 0px;
    margin-bottom: 30px;
}
.our-team-img{
    margin-bottom: 30px;
}
/* footer links */
.footer{
    background-color: var(--fotter-background-color);
    color: var(--footer-adress-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer{
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
    color: var(--background-color-body);
}
.footer-logo-stile{
    color: var(--acent-color);
}
.maps-link{
    color: var(--footer-maps-link);
    
    font-style: normal;
    text-decoration: none;
}
.maps-link:hover,
.maps-link:focus{
    color: var(--acent-color);
}
.contacts-footer{
    color: var(--footer-adress-color);
    
    text-decoration: none;
    font-style: normal;
}
.contacts-footer:hover,
.contacts-footer:focus{
    color: var(--acent-color);
}